p {
	max-height: 40px;
	display: block;
	overflow: hidden;
}
li {
	display: block;
	margin-bottom: 15px;
}

a {
	display: block;
}

input {
	margin-bottom: 20px;
}
.wrap{
	padding: 0 10px 20px 30px;
	width: 600px;
}
.inp{
	text-align: center;
	padding: 30px;
}
.list_link {
	display: inline-block;
	margin-right: 5px;
	cursor: pointer;
}

.list_link__db {
	display: block;
}

